<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <!--CSS-->
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    
    <header>
        <h2>osagari</h2>
        <input type="text" value="" id="findmono">
        <input type="submit" value="検索" onclick="searchclicked()">
        <a href="/mypage"><input type="button" name="mypage" value="マイページ"></a>
        <a href="/new"><input type="submit" value="投稿"></a>
    </header>
    
   


    <script>
        function searchclicked(){
            let formtext = document.getElementById("findmono");
            if(formtext.value){ //検索の文字列が参照できるなら
                location.href = `/search?query=${formtext.value}`;//クエリパラメータとして追記する
            }
        }
    </script>
    
    <p>新着情報</p>
    <hr />
    <div class="image-container">
        <div class="row">
            <% mono_data.forEach(function (v, index) { %>
                <!-- インデックスが3の倍数の場合に新しい行を開始 -->
                <% if (index % 3 === 0 && index !== 0) { %>
                    </div><div class="row">
                <% } %>
                <div class="imgarea">
                    <!-- 画像とタイトルの表示 -->
                    <img class="img" src="<%= v.img_path %>" id="<%= v.mono_id %>" onclick="imgclick(this)" style="width: 200px; height: 200px;">
                    <p class="img_title"><%= v.mono_name %></p>
                </div>
            <% }); %>
        </div>
    </div>
    
    <div class="imgarea">
    <% mono_data.forEach(function (v) {%>
        <!--タグにデータ埋め込み-->
        <img class="img" src = <%=v.img_path%> id=<%=v.mono_id%> onclick="imgclick(this)" style="width: 200px; height: 200px;">
         <!-- 物の名前を表示する処理 -->
         <p class="img_title"><%= v.mono_name %></p>
    <%});%>
    </div>
</div>

    <script>
       function imgclick(ele){
            const id_value = ele.id; //自分自身のidの値を取得
            if(id_value){ //念のため参照できるか確認
                location.href = `/detail/${id_value}`;
            }
        } 
    </script>
</body>
</html>
